:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #e5e5e5;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.link {
  list-style: none;
}
