:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

/* ==============HEADER!!!=============== */
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* ===============HEADER END!!!=================== */

/* ===============HERO!!!======================= */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.modal-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--accent-color);
}
/* ===============HERO END!!!======================= */

/* ===============FEATURES SECTION!!!================ */
.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
/* ===============FEATURES SECTION END!!!================ */

/* ===============GALLERY SECTION!!!====================== */
/* ===============GALLERY SECTION END!!!====================== */

/* ===============EMPLOYEES SECTION!!!============================== */
.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employee-speciality {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ===============EMPLOYEES SECTION END!!!============================== */

/* ===============FOOTER!!!=================================== */
.footer {
  background-color: #2f303a;
}

.address-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ===============FOOTER END!!!=================================== */

/* ===============PORTFOLIO!!!================ */
.projects-filter-option {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ==================PORTFOLIO END!!!======================= */

/* =============COMPONENTS!!!=============== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark-theme {
  color: #fff;
}

.logo-light-theme {
  color: #000;
}

.logo-text {
  color: var(--accent-color);
}

.button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.current-page {
  color: var(--accent-color);
}
